# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Railway / build artifacts
.nixpacks/
dist/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
